.Pawsome{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    color: #64b464;
    text-shadow: 1px 1px 2cap darkgreen;
    font-size: 35pt;
    text-align: center;
    margin-top: 15px;
}

.firstpics{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.firstpics img{
    margin: 15px;
    height: 200px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.secondpics{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    align-items: center;
}

.secondpics img{
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.cow{
    height: 250px;
    width: 200px;
}


p{
    color: darkgreen;
    text-align: center;
    align-self: center;
    width: 300px;
}