.Part1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    color:#64b464;
    text-shadow: 1px 1px 2cap darkgreen;
}

.Part1 p{
    margin-left: 15px;
    align-self: center;
    width: 300px;
    font-size: 15pt;
}

.Part2{
    text-shadow: 1px 1px 2px #64b464;
    margin: 25px;
    font-size: 12pt;
}

.body img{
    height: 400px;
    width: 500px;
    margin-top: 25px;
}


