.animal-section {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 100px;
  margin-bottom: 100px;
}

.animals-button {
  background-color: rgb(44, 146, 44);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 10px;
}
