.AnimalInformation
{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.AnimalInformation > *
{
  display: flex;
  flex-direction: row;
}

.AnimalDescription
{
  display: flex;
  flex-direction: column;
}

